* {
    font-family: 'Open Sans', sans-serif;
}

header {
    z-index: 50;
}

.margin-top {
    margin-top: 30px;
}

.margin-top-lg {
    margin-top: 60px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-bottom-lg {
    margin-bottom: 60px;
}

.btn-primary {
    border: 1px solid #1e7bff;
    background-color: white;
    color: #1e7bff;
    font-weight: bold;
    padding: 11px 16px 8px;
}

.btn-primary:hover {
    border: 1px solid #1e7bff;
    color: white;
    background-color: #1e7bff;

}

.btn-secondary {
    border: 1px solid #1e7bff;
    background-color: #1e7bff;
    color: white;
    font-weight: bold;
    padding: 11px 16px 8px;
}

.btn-secondary:hover {
    border: 1px solid #1633ff;
    color: white;
    background-color: #1633ff;

}

#header-top {
    background-color: white;
    border-bottom: 1px solid #e5e8ed;
    color: #5b6987;
    line-height: 40px;
    padding: 0px 15px;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 50;
}

#header-top small {
    background-color: #00d7d2;
    padding: 2px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #02778f;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

#header-top a {
    color: #5b6987;
}

#header-top a:hover {
    text-decoration: none;
    color: blue;
}

#header-bottom {
    position: fixed;
    margin-top: 40px;
    width: 100%;
    z-index: 50;
}

.navbar {
    border-radius: 0px;
    background-color: white;
}

#header-bottom a img {
    width: 172px;
    float: left;
    line-height: 65px;
    vertical-align: middle;
    margin-right: 35px;
}

#header-bottom li a {
    color: #2f436d;
    font-weight: bold;
}

#header-bottom li a:hover {
    color: blue;
}

#header-bottom .container-fluid{
    height: 62px;
    padding-top: 5px;
}

#header-bottom-alt {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    border-bottom: 2px solid black;
    height: 65px;
    color: rgba(250,250,250,0.5);
}

#logo-alt img {
    height: 63px;
}

#menu-alt {
    line-height: 65px;
    font-size: 23px;
    padding-right: 15px;
}

#jumbotron {
    padding-top: 150px;
    background-image: url("img/bg-home.jpg");
    color: white;
    padding-bottom: 80px;
}

#jumbotron .row {
    margin-top: 50px;
}

#jumbotron h1 {
    font-size: 62px;
    font-weight: bold;
    margin-top: 60px;
}

#jumbotron p {
    font-size: 24px;
    opacity: 0.8;
    margin-bottom: 70px;
}

#jumbotron form {
    background-color: white;
    color: black;
    padding: 32px;
    border-radius: 5px;
}

#jumbotron form p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#jumbotron form input {
    padding: 22px 8px;
}

#jumbotron form .btn-secondary {
    width: 100%;
    margin-bottom: 15px;
}

.separator {
    overflow: hidden;
    color: #9b888b;
    margin-bottom: 15px;
}

.separator span:before,
.separator span:after {
  background-color: #e5e8ed;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.separator span:before {
  right: 0.5em;
  margin-left: -50%;
}

.separator span:after {
  left: 0.5em;
  margin-right: -50%;
}

.btn-third {
    background-color: #f2f8ff;
    font-weight: bold;
    border: 1px solid #1e7bff;
    color: black;
    width: 48%;
    float: left;
    text-align: center;
    padding: 14px 0px;
    margin-bottom: 15px;
}

.btn-third:last-child {
    float:right;
}

.fa-google {
    color: red;
}

#jumbotron small {
    font-size: 12px;
}

#partners {
    background-color: #f3f5f9;
}

#partners p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #a8b1c3;
    font-size: 14px;
    font-weight: bold;
}

#partners a {
    color: #1e7bff;
    font-size: 16px;
}

#partners a {
    text-decoration: none;
}



#features {
    background-color: white;
    font-size: 16px;
}

#features h2 {
    font-size: 36px;
    color: #031b4e;
    font-weight: bold;
}

#features p {
    color: rgba(3,27,78,0.7);
}

#features p .h3 {
    font-size: 20px;
}

#features ul {
    list-style-type: none;
}

#features ul li {
    height: 50px;
    width: 100%;
    color: rgba(3,27,78,0.7);
    border-left: 2px solid #e5e8ed;
    line-height: 50px;
    padding-left: 20px;
}

#features ul li:first-child{
    color: #031b4e;
    border-left: 2px solid blue;
    font-weight: bold;
}

#features ul li:hover {
    color: #031b4e;
    font-weight: bold;
}

#features .h4 {
    font-size: 18px;
    color: #031b4e;
    font-weight: bold;
    margin-bottom: 25px;
}
